<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <h2 class="text-xl font-semibold mb-4">Hello Admin</h2>
            <nav class="mb-4">
                <a href="{% url 'admin_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'add_app_page' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Add Apps</a>
                <form action="{% url 'logout_admin' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8 bg-white rounded-lg shadow-lg">
            <h3 class="text-2xl font-semibold mb-6">Add New App</h3>
            <form method="post" action="{% url 'add_app' %}" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <input type="text" name="name" placeholder="App Name"
                    class="border-2 border-blue-600 rounded-lg p-2 w-full" required>
                <input type="url" name="link" placeholder="App Link"
                    class="border-2 border-blue-600 rounded-lg p-2 w-full" required>

                <!-- Category Dropdown -->
                <select name="category" id="category" class="border-2 border-blue-600 rounded-lg p-2 w-full" required>
                    <option value="">Select Category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <!-- Subcategory Dropdown -->
                <select name="subcategory" id="subcategory" class="border-2 border-blue-600 rounded-lg p-2 w-full"
                    required>
                    <option value="">Select Subcategory</option>
                    <!-- Options will be loaded based on category selection -->
                </select>

                <input type="number" name="points" placeholder="Points"
                    class="border-2 border-blue-600 rounded-lg p-2 w-full" required>
                <div class="flex items-center justify-center">
                    <label class="block text-sm font-medium text-gray-700">
                        Upload Logo
                        <input type="file" name="image" accept="image/*" class="block w-full text-sm text-slate-500
                            file:mr-4 file:py-2 file:px-4
                            file:rounded-full file:border-0
                            file:text-sm file:font-semibold
                            file:bg-violet-50 file:text-violet-700
                            hover:file:bg-violet-100
                            " required>
                    </label>
                </div>
                <input type="submit" value="Add App" class="bg-teal-600 text-white rounded-lg px-8 py-2 w-full">
            </form>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('category').addEventListener('change', function () {
            var categoryId = this.value;
            if (categoryId) {
                fetch(`/get_subcategories/${categoryId}/`)
                    .then(response => response.json())
                    .then(data => {
                        var subcategorySelect = document.getElementById('subcategory');
                        subcategorySelect.innerHTML = '<option value="">Select Subcategory</option>';
                        data.subcategories.forEach(function (subcategory) {
                            var option = new Option(subcategory.name, subcategory.id);
                            subcategorySelect.appendChild(option);
                        });
                    });
            } else {
                // Reset subcategory dropdown
                document.getElementById('subcategory').innerHTML = '<option value="">Select Subcategory</option>';
            }
        });
    </script>

</body>

</html>