<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <h2 class="text-xl font-semibold mb-4">Admin Dashboard</h2>
            <nav class="mb-4">
                <a href="{% url 'admin_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'add_app_page' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Add Apps</a>
                <form action="{% url 'logout_admin' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8">
            <h3 class="text-2xl font-semibold mb-6">List of Apps</h3>
            {% for app in apps %}
            <div class="bg-white p-6 rounded-lg shadow-lg mb-4 flex items-center justify-between">
                <img src="{{ app.image.url }}" alt="{{ app.name }}" class="h-24 w-24 mr-4">
                <div>
                    <h4 class="text-lg font-semibold">{{ app.name }}</h4>
                    <p class="text-gray-600">Category: {{ app.category.name }}</p>
                    <p class="text-gray-600">Subcategory: {{ app.subcategory.name }}</p>
                </div>
                <span class="bg-teal-600 text-white rounded-lg px-4 py-2">{{ app.points }} POINTS</span>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>