<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-semibold mb-6 text-center">Admin Login</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
                <input type="text" name="username" id="username" class="border-2 border-gray-300 rounded-lg p-2 w-full"
                    required>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
                <input type="password" name="password" id="password"
                    class="border-2 border-gray-300 rounded-lg p-2 w-full" required>
            </div>
            <div>
                <input type="submit" value="Login"
                    class="bg-blue-600 text-white rounded-lg px-4 py-2 w-full cursor-pointer">
            </div>
        </form>
        {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
            <p class="text-red-500 text-sm">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>

</html>