<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points Earned</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <nav class="mb-4">
                <a href="{% url 'user_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'user_profile' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Profile</a>
                <a href="{% url 'task_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Completed
                    Tasks</a>
                <a href="{% url 'points_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Points
                    Earned</a>
                <form action="{% url 'logout_user' %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8 bg-white rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Points Earned</h2>
            <div class="border p-4 rounded-lg shadow-xs">
                <p class="text-lg font-medium text-gray-700">Total Points:</p>
                <p class="text-xl font-bold text-gray-800">{{ total_points }}</p>
            </div>
        </div>
    </div>
</body>

</html>