<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <nav class="mb-4">
                <a href="{% url 'user_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'user_profile' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Profile</a>
                <a href="{% url 'task_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Completed
                    Tasks</a>
                <a href="{% url 'points_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Points
                    Earned</a>
                <form action="{% url 'logout_user' %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8 bg-white rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Hello John</h2>
            <!-- Task Detail Card -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-xs mb-4">
                <div class="flex items-center justify-between">
                    <!-- Logo and Description -->
                    <div class="flex items-center">
                        <img src="{{ app.image.url }}" alt="{{ app.name }}" class="h-24 w-24 mr-4">
                        <div>
                            <h3 class="text-lg font-bold">{{ app.name }}</h3>
                            <p class="text-sm text-gray-600">{{ app.link }}</p>
                        </div>
                    </div>
                    <!-- Points Badge -->
                    <span class="text-teal-600 bg-teal-100 rounded-full px-4 py-1">
                        {{ app.points }} POINTS
                    </span>
                </div>
            </div>

            {% if task_completed %}
            <p class="text-green-600">This task is completed.</p>
            {% else %}
            <form method="post" action="{% url 'view_task' app.id %}" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <!-- Upload Section -->
                <div class="mt-4">
                    <p class="text-gray-600 mb-2">Upload Screenshots to complete the TASK</p>
                    <div class="flex justify-center items-center w-full">
                        <label
                            class="w-full flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue-500 hover:text-white">
                            <i class="fas fa-cloud-upload-alt fa-3x"></i>
                            <span class="mt-2 text-base leading-normal">Select a file</span>
                            <input type='file' name="screenshot" class="hidden" />
                        </label>
                    </div>
                </div>
                <button type="submit" class="bg-blue-600 text-white rounded-lg px-4 py-2 cursor-pointer">Submit
                    Screenshot</button>
            </form>
            {% endif %}
        </div>
    </div>
</body>

</html>
