<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <nav class="mb-4">
                <a href="{% url 'user_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'user_profile' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Profile</a>
                <a href="{% url 'task_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Completed
                    Tasks</a>
                <a href="{% url 'points_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Points
                    Earned</a>
                <form action="{% url 'logout_user' %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8 bg-white rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold mb-6">Completed Tasks</h2>
            {% if tasks %}
            <div class="space-y-4">
                {% for task in tasks %}
                <div class="border p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">{{ task.app.name }}</h3>
                    <p><strong>Points:</strong> {{ task.app.points }}</p>
                    <img src="{{ task.screenshot.url }}" alt="Task Screenshot" class="h-24 w-auto my-2">
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-gray-600">No completed tasks yet.</p>
            {% endif %}
        </div>
    </div>
</body>

</html>