<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="min-h-screen flex">
        <!-- Sidebar -->
        <div class="w-1/4 bg-white p-4">
            <nav class="mb-4">
                <a href="{% url 'user_dashboard' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Home</a>
                <a href="{% url 'user_profile' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">Profile</a>
                <a href="{% url 'task_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Completed
                    Tasks</a>
                <a href="{% url 'points_view' %}"
                    class="block text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded mb-2">View Points
                    Earned</a>
                <form action="{% url 'logout_user' %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit"
                        class="text-blue-600 hover:bg-blue-600 hover:text-white p-2 rounded">Logout</button>
                </form>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="w-3/4 p-8">
            <h2 class="text-2xl font-semibold mb-6">List of Apps</h2>
            <div class="space-y-4">
                {% for app in apps %}
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <div class="flex items-start">
                        <img src="{{ app.image.url }}" alt="{{ app.name }}" class="h-24 w-24 mr-4">
                        <div class="flex-1">
                            <h4 class="text-lg font-semibold mb-2">{{ app.name }}</h4>
                            <p class="text-gray-600 mb-2">Category: {{ app.category.name }}</p>
                            <p class="text-gray-600 mb-2">Subcategory: {{ app.subcategory.name }}</p>
                        </div>
                        <span class="bg-teal-600 text-white rounded-lg px-4 py-2">{{ app.points }} POINTS</span>
                    </div>
                    <a href="{% url 'view_task' app.id %}" class="text-blue-600 hover:underline block mt-4">View in
                        Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>